*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    width:100vw;
    min-height: 100vh;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

tr:nth-child(odd){
    background: rgba(255,255,255, .3);
}
tr:nth-child(even){
    background: rgba(255,255,255, .6);
}
td:first-child{
    text-align: center;
}
td, th{
    padding: 1rem;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.4);
}
.insert{
    margin-top: 2rem;
}
.insert form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
}
.input{
    flex-basis: 40%;
    margin: .4rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid black;

}
.button{
    margin: .4rem;
    padding: 1rem;
    flex-basis: 60%;
    background: orangered;
    border: 1px solid aliceblue;
    border-radius: 6px;
    color: aliceblue;
}

.delete{
    margin: 1rem;
}

select{
    padding: 1rem;
    border: none;
    width: 180px;
}
.delete-button{
    padding: 1rem;
    background: orangered;
    color:aliceblue;
    border: 1px solid aliceblue;
}

.form-column{
    padding: 0;
}
.form-table, .delete-btn{
    width: 100%;
    height: 39px;
}
.delete-btn{
    padding: 1rem;
    background: orangered;
    color: aliceblue;
    border: none;
}
.delete-btn:hover, .delete-button:hover, .button:hover{
    background: red;
}